{% extends "inicio/encabezado.html" %}

{% load static %}

{% block titulo %} PERSONAJES {% endblock %}

<link rel="manifest" href="/manifest.json">
    {%load pwa%}
    {%progressive_web_app_meta%}
    
{% block contenido %}

<section id="four" class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major" style="font-family: 'Poppins', sans-serif; margin-top: 30px; letter-spacing: 1px; font-size: 12px; text-align: center;">
            <h3 style="color: white;">PERSONAJES</h3>
        </header>
        <div class="box alt">
            <div class="row gtr-uniform" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
                <!-- Personaje 1 -->
                <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                    <img src="{% static 'inicio/images/pollo.png' %}" class="major" style="width: 160px; height: 160px;">
                    <h3 style="font-family: 'Poppins', sans-serif; font-size: 16px; margin-top: 5px; color: #FFD700; font-weight: bold;">MILOS</h3>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">Milos es un pollo pequeño, amarillo y ágil que puede parecer frágil, pero tiene un objetivo, enconcontrar la verdad a toda costa. </p>
                    <div style="font-family: 'Poppins', sans-serif; font-size: 12px; color: #FFF; line-height: 1.4; text-align: justify;">
                        <p><i class="fas fa-chicken"></i> <strong style="color: #FFD700; font-weight: bold;">Rol:</strong> Protagonista</p>
                        <p><i class="fas fa-heart"></i> <strong style="color: #FFD700; font-weight: bold;">Vidas:</strong> 3</p>
                        <p><i class="fas fa-shield-alt"></i> <strong style="color: #FFD700; font-weight: bold;">Habilidades:</strong> Balas de maíz, Doble salto</p>
                    </div>
                </section>

                <!-- Personaje 2 -->
                <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                    <img src="{% static 'inicio/images/s.jpg' %}" class="major" style="width: 160px; height: 160px;">
                    <h3 style="font-family: 'Poppins', sans-serif; font-size: 16px; margin-top: 5px; color: #FFD700; font-weight: bold;;">VIBORA SOMBRIA</h3>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">Vibora Sombra es un peligroso enemigo, representa una amenaza, su presencia es aterradora y su único objetivo es saciar su hambre a toda costa.</p>
                    <div style="font-family: 'Poppins', sans-serif; font-size: 12px; color: #FFF; line-height: 1.4; text-align: justify;">
                        <p><i class="fas fa-snake"></i> <strong style="color: #FFD700; font-weight: bold;">Rol:</strong> Villano secundario</p>
                        <p><i class="fas fa-skull"></i> <strong style="color: #FFD700; font-weight: bold;">Daño:</strong> 1 de vida</p>
                        <p><i class="fas fa-shield-alt"></i> <strong style="color: #FFD700; font-weight: bold;">Habilidades:</strong> Lanza veneno, Super fuerza</p>
                    </div>
                </section>

                <!-- Personaje 3 -->
                <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                    <img src="{% static 'inicio/images/w.png' %}" class="major" style="width: 160px; height: 160px;">
                    <h3 style="font-family: 'Poppins', sans-serif; font-size: 16px; margin-top: 5px; color: #FFD700; font-weight: bold;">WORM</h3>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">Worm es una criatura subterránea, que a pesar de su apariencia inofensiva es un villano capaz de interferir en el camino de nuestro protagonista.</p>
                    <div style="font-family: 'Poppins', sans-serif; font-size: 12px; color: #FFF; line-height: 1.4; text-align: justify;">
                        <p><i class="fas fa-worm"></i> <strong style="color: #FFD700; font-weight: bold; ">Rol:</strong> Villano secundario</p>
                        <p><i class="fas fa-skull"></i> <strong style="color: #FFD700; font-weight: bold;">Daño:</strong> 1 de vida</p>
                        <p><i class="fas fa-shield-alt"></i> <strong style="color: #FFD700; font-weight: bold;">Habilidades:</strong> Curación, Escudo protector</p>
                    </div>
                </section>

                <!-- Personaje 4 -->
                <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                    <img src="{% static 'inicio/images/gallo.png' %}" class="major" style="width: 160px; height: 160px;">
                    <h3 style="font-family: 'Poppins', sans-serif; font-size: 16px; margin-top: 5px; color: #FFD700; font-weight: bold;">UMBRA</h3>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">Umbra es el padre de Milos, un gallo que desapareció en circunstancias misteriosas, por lo tanto poco se sabe sobre su verdadero rol en la historia.</p>
                    <div style="font-family: 'Poppins', sans-serif; font-size: 12px; color: #FFF; line-height: 1.4; text-align: justify;">
                        <p><i class="fas fa-gallo"></i> <strong style="color: #FFD700; font-weight: bold;">Rol:</strong> Se desconoce</p>
                        <p><i class="fas fa-heart"></i> <strong style="color: #FFD700; font-weight: bold;">Vidas:</strong> ?</p>
                        <p><i class="fas fa-shield-alt"></i> <strong style="color: #FFD700; font-weight: bold;">Habilidades:</strong> Sin información disponible</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section id="four" class="wrapper style1 special fade-up" style="margin-top: -100px;">
    <div class="container">
        <header class="major" style="font-family: 'Poppins', sans-serif; letter-spacing: 1px; font-size: 12px; text-align: center; margin-top: 10px; margin-bottom: 50px;">
            <h3 style="color: white;">ESCENARIOS</h3>
        </header>
        <div class="row gtr-uniform" style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 5px;">
            <!-- Escenario 1 -->
            <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                <img src="{% static 'inicio/images/N-1.png' %}" class="major" style="width: 280px; height: 160px; display: block; margin: 0 auto;">
                <h3 style="font-family: 'Poppins', sans-serif; font-size: 14px; margin-top: 10px; color: #FFD700; font-weight: bold;">NIVEL 1: UN VIAJE LARGO</h3>
                <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">El viaje de Milos comienza aquí. Ante él un camino verde se extiende, vibrante y desconocido. Cada paso lo acerca a su destino, cada elección forja su final.</p>
            </section>
        
            <!-- Escenario 2 -->
            <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                <img src="{% static 'inicio/images/n-2.jpg' %}" class="major" style="width: 280px; height: 160px; display: block; margin: 0 auto;">
                <h3 style="font-family: 'Poppins', sans-serif; font-size: 14px; margin-top: 10px; color: #FFD700; font-weight: bold;">NIVEL 2: EL REINO SUBTERRÁNEO</h3>
                <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">Ya no hay luz. El verde quedó atrás, tragado por las sombras. Milos avanza a ciegas, guiado solo por su instinto.</p>
            </section>
        
            <!-- Escenario 3 -->
            <section class="col-3 col-6-medium col-12-xsmall" style="text-align: center; margin-bottom: 10px;">
                <img src="{% static 'inicio/images/N-3.jpg' %}" class="major" style="width: 280px; height: 160px; display: block; margin: 0 auto;">
                <h3 style="font-family: 'Poppins', sans-serif; font-size: 14px; margin-top: 10px; color: #FFD700; font-weight: bold;">NIVEL 3: UNA VERDAD ESCONDIDA</h3>
                <p style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #FFF; margin-bottom: 5px; text-align: justify;">La penumbra se disipa poco a poco, sombras danzan entre la bruma, mientras Milos avanza, ansioso por descubrir qué le espera y quién intentará detenerlo.</p>
            </section>
        </div>                       
    </div>
</section>

{% endblock %}
